---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.167 TT 0 0.168"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8548,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8286499W",
                    "type": "work",
                    "seed": [
                        "/books/OL2482594M",
                        "/books/OL7703796M",
                        "/books/OL7681452M",
                        "/works/OL8286499W",
                        "/subjects/buildings_structures",
                        "/subjects/pictorial_works",
                        "/authors/OL2754228A"
                    ],
                    "title": "Denver",
                    "title_suggest": "Denver",
                    "has_fulltext": false,
                    "edition_count": 3,
                    "edition_key": [
                        "OL2482594M",
                        "OL7703796M",
                        "OL7681452M"
                    ],
                    "publish_date": [
                        "1987",
                        "December 12, 1988",
                        "August 27, 1987"
                    ],
                    "publish_year": [
                        1987,
                        1988
                    ],
                    "first_publish_year": 1987,
                    "number_of_pages_median": 64,
                    "lccn": [
                        "87403040"
                    ],
                    "publish_place": [
                        "New York"
                    ],
                    "contributor": [
                        "Crescent Books."
                    ],
                    "lcc": [
                        "F--0784.00000000.D443 D46 1987"
                    ],
                    "ddc": [
                        "978.883033"
                    ],
                    "isbn": [
                        "0517215039",
                        "9780517623619",
                        "9780517215036",
                        "0517623617"
                    ],
                    "last_modified_i": 1604743091,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Crescent Books",
                        "Random House Value Publishing",
                        "Distributed by Crown Publishers",
                        "Crescent"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2754228A"
                    ],
                    "author_name": [
                        "RH Value Publishing"
                    ],
                    "author_alternative_name": [
                        "Rh Value Publishing",
                        "Random House Value Publishing",
                        "Value Publishing Rh",
                        "Value Publ Rh"
                    ],
                    "subject": [
                        "Buildings, structures",
                        "Pictorial works"
                    ],
                    "id_goodreads": [
                        "3962328"
                    ],
                    "publisher_facet": [
                        "Crescent",
                        "Crescent Books",
                        "Distributed by Crown Publishers",
                        "Random House Value Publishing"
                    ],
                    "subject_facet": [
                        "Buildings, structures",
                        "Pictorial works"
                    ],
                    "_version_": 1715096654852390912,
                    "lcc_sort": "F--0784.00000000.D443 D46 1987",
                    "author_facet": [
                        "OL2754228A RH Value Publishing"
                    ],
                    "subject_key": [
                        "buildings_structures",
                        "pictorial_works"
                    ],
                    "ddc_sort": "978.883033"
                },
                {
                    "key": "/works/OL15398061W",
                    "type": "work",
                    "seed": [
                        "/books/OL12131346M",
                        "/books/OL24374123M",
                        "/works/OL15398061W",
                        "/subjects/guidebooks",
                        "/subjects/travel_&_holiday_guides",
                        "/subjects/travel",
                        "/subjects/travel_-[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude%5B%5D=minutely&key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&location=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 19 Mar 2022 03:05:31 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-207846444"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647659131,"sunrise":1647608790,"sunset":1647652167,"temp":278.76,"feels_like":276,"pressure":1018,"humidity":35,"dew_point":265.47,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":3.58,"wind_deg":260,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1647659160,"precipitation":0},{"dt":1647659220,"precipitation":0},{"dt":1647659280,"precipitation":0},{"dt":1647659340,"precipitation":0},{"dt":1647659400,"precipitation":0},{"dt":1647659460,"precipitation":0},{"dt":1647659520,"precipitation":0},{"dt":1647659580,"precipitation":0},{"dt":1647659640,"precipitation":0},{"dt":1647659700,"precipitation":0},{"dt":1647659760,"precipitation":0},{"dt":1647659820,"precipitation":0},{"dt":1647659880,"precipitation":0},{"dt":1647659940,"precipitation":0},{"dt":1647660000,"precipitati[...]
