---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.138 TT 0 0.141"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 8196,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8286499W",
                    "text": [
                        "/works/OL8286499W",
                        "Denver",
                        "a picture book to remember her by.",
                        "A Picture Book To Remember Her By",
                        "OL7703796M",
                        "OL2482594M",
                        "OL7681452M",
                        "87403040",
                        "Crescent Books.",
                        "9780517623619",
                        "0517215039",
                        "0517623617",
                        "9780517215036",
                        "Crescent",
                        "Crescent Books",
                        "Distributed by Crown Publishers",
                        "Random House Value Publishing",
                        "OL2754228A",
                        "RH Value Publishing",
                        "Value Publ Rh",
                        "Value Publishing Rh",
                        "Random House Value Publishing",
                        "Rh Value Publishing",
                        "Buildings, structures",
                        "Pictorial works"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL7703796M",
                        "/books/OL2482594M",
                        "/books/OL7681452M",
                        "/works/OL8286499W",
                        "/subjects/buildings_structures",
                        "/subjects/pictorial_works",
                        "/authors/OL2754228A"
                    ],
                    "title": "Denver",
                    "title_suggest": "Denver",
                    "has_fulltext": false,
                    "edition_count": 3,
                    "edition_key": [
                        "OL7703796M",
                        "OL2482594M",
                        "OL7681452M"
                    ],
                    "publish_date": [
                        "1987",
                        "August 27, 1987",
                        "December 12, 1988"
                    ],
                    "publish_year": [
                        1987,
                        1988
                    ],
                    "first_publish_year": 1987,
                    "lccn": [
                        "87403040"
                    ],
                    "publish_place": [
                        "New York"
                    ],
                    "contributor": [
                        "Crescent Books."
                    ],
                    "lcc": [
                        "F--0784.00000000.D443 D46 1987"
                    ],
                    "ddc": [
                        "978.883033"
                    ],
                    "isbn": [
                        "9780517623619",
                        "0517215039",
                        "0517623617",
                        "9780517215036"
                    ],
                    "last_modified_i": 1604743091,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Crescent",
                        "Crescent Books",
                        "Distributed by Crown Publishers",
                        "Random House Value Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2754228A"
                    ],
                    "author_name": [
                        "RH Value Publishing"
                    ],
                    "author_alternative_name": [
                        "Value Publ Rh",
                        "Value Publishing Rh",
                        "Random House Value Publishing",
                        "Rh Value Publishing"
                    ],
                    "subject": [
                        "Buildings, structures",
                        "Pictorial works"
                    ],
                    "id_goodreads": [
                        "3962328"
                    ],
                    "publisher_facet": [
                        "Crescent",
                        "Crescent Books",
                        "Distributed by Crown Publishers",
                        "Random House Value Publishing"
                    ],
                    "subject_facet": [
                        "Buildings, structures",
                        "Pictorial works"
                    ],
                    "_version_": 1700719934773919744,
                    "lcc_sort": "F--0784.00000000.D443 D46 1987",
                    "author_facet": [
                        "OL2754228A RH Value Publishing"
                    ],
                    "subject_key": [
                        "buildings_structures",
                        "pictorial_works"
                    ],
                    "ddc_sort": "978.883033"
                },
                {
                    "key": "/works/OL8020499W",
                    "text": [
                        "/works/OL8020499W",
                        "Denver",
                        "A Photographic Survey of the Metropolitan Area",
                        "A photographic survey of the metropolitan area",
                        "OL8345306M",
                        "OL8345307M",
                        "0870811029",
                        "0870811010",
                        "9780870811012",
                        "9780870811029",
                        "State Historical Society of Colorado",
                        "Aperture",
                        "OL25655A",
                        "Robert Adams"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL8345306M",
                        "/books/OL8345307M",
                        "/works/OL8020499W",
                        "/authors/OL25655A"
                    ],
                    "title": "Denver",
                    "title_suggest": "Denver",
                    "subtitle": "A Photographic Survey of the Metropolitan Area",
                    "has_fulltext": false,
                    "edition_count": 2,
                    "edition_key": [
                        "OL8345306M",
                        "OL8345307M"
                    ],
                    "publish_date": [
                        "June 1977",
                        "1977"
                    ],
                    "publish_year": [
                        1977
                    ],
                    "first_publish_year": 1977,
                    "isbn": [
                        "0870811029",
                        "0870811010",
                        "9780870811012",
                        "9780870811029"
                    ],
                    "last_modified_i": 1282238718,
                    "ebook_count_i": 0,
                    "publisher": [
                        "State Historical Society of Colorado",
                        "Aperture"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL25655A"
                    ],
                    "author_name": [
                        "Robert Adams"
                    ],
                    "id_librarything": [
                        "4207948"
                    ],
                    "publisher_facet": [
                        "Aperture",
                        "State Historical Society of Colorado"
                    ],
                    "_version_": 1700719651157180416,
                    "author_facet": [
                        "OL25655A Robert Adams"
                    ]
                },
                {
                    "key": "/works/OL7919260W",
                    "text": [
[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&location=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 17:06:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=615824651"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX",[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632762352,"sunrise":1632747150,"sunset":1632790142,"temp":299.29,"feels_like":299.29,"pressure":1011,"humidity":22,"dew_point":275.93,"uvi":4.16,"clouds":40,"visibility":10000,"wind_speed":0.45,"wind_deg":59,"wind_gust":1.34,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1632762360,"precipitation":0},{"dt":1632762420,"precipitation":0},{"dt":1632762480,"precipitation":0},{"dt":1632762540,"precipitation":0},{"dt":1632762600,"precipitation":0},{"dt":1632762660,"precipitation":0},{"dt":1632762720,"precipitation":0},{"dt":1632762780,"precipitation":0},{"dt":1632762840,"precipitation":0},{"dt":1632762900,"precipitation":0},{"dt":1632762960,"precipitation":0},{"dt":1632763020,"precipitation":0},{"dt":1632763080,"precipitation":0},{"dt":1632763140,"precipitation":0},{"dt":1632763200,"precipitati[...]
