---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=45&lon=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45,"lon":30,"timezone":"Europe/Bucharest","timezone_offset":7200,"current":{"dt":1647659130,"sunrise":1647662735,"sunset":1647706206,"temp":274.19,"feels_like":267.51,"pressure":1039,"humidity":59,"dew_point":267.77,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":9.95,"wind_deg":30,"wind_gust":9.6,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1647659160,"precipitation":0},{"dt":1647659220,"precipitation":0},{"dt":1647659280,"precipitation":0},{"dt":1647659340,"precipitation":0},{"dt":1647659400,"precipitation":0},{"dt":1647659460,"precipitation":0},{"dt":1647659520,"precipitation":0},{"dt":1647659580,"precipitation":0},{"dt":1647659640,"precipitation":0},{"dt":1647659700,"precipitation":0},{"dt":1647659760,"precipitation":0},{"dt":1647659820,"precipitation":0},{"dt":1647659880,"precipitation":0},{"dt":1647659940,"precipitation":0},{"dt":1647660000,"precipitati[...]
