---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=45&lon=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45,"lon":30,"timezone":"Europe/Bucharest","timezone_offset":10800,"current":{"dt":1632926445,"sunrise":1632887723,"sunset":1632930308,"temp":290.02,"feels_like":289.22,"pressure":1026,"humidity":56,"dew_point":281.2,"uvi":0.18,"clouds":2,"visibility":10000,"wind_speed":7.37,"wind_deg":53,"wind_gust":7.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632926460,"precipitation":0},{"dt":1632926520,"precipitation":0},{"dt":1632926580,"precipitation":0},{"dt":1632926640,"precipitation":0},{"dt":1632926700,"precipitation":0},{"dt":1632926760,"precipitation":0},{"dt":1632926820,"precipitation":0},{"dt":1632926880,"precipitation":0},{"dt":1632926940,"precipitation":0},{"dt":1632927000,"precipitation":0},{"dt":1632927060,"precipitation":0},{"dt":1632927120,"precipitation":0},{"dt":1632927180,"precipitation":0},{"dt":1632927240,"precipitation":0},{"dt":1632927300,"precipitati[...]
