---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude%5B%5D=minutely&key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&location=%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 05 Oct 2021 18:21:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"
        "},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-1784399513"}]}]}'
  recorded_at: Tue, 05 Oct 2021 18:21:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=39.390897&lon=-99.066067
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1633458098,"sunrise":1633437379,"sunset":1633479154,"temp":297.92,"feels_like":297.29,"pressure":1021,"humidity":32,"dew_point":280.13,"uvi":5.54,"clouds":0,"visibility":10000,"wind_speed":3.33,"wind_deg":82,"wind_gust":3.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1633458120,"precipitation":0},{"dt":1633458180,"precipitation":0},{"dt":1633458240,"precipitation":0},{"dt":1633458300,"precipitation":0},{"dt":1633458360,"precipitation":0},{"dt":1633458420,"precipitation":0},{"dt":1633458480,"precipitation":0},{"dt":1633458540,"precipitation":0},{"dt":1633458600,"precipitation":0},{"dt":1633458660,"precipitation":0},{"dt":1633458720,"precipitation":0},{"dt":1633458780,"precipitation":0},{"dt":1633458840,"precipitation":0},{"dt":1633458900,"precipitation":0},{"dt":1633458960,"precipitati[...]
