---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude%5B%5D=minutely&key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 07:19:13 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1166982217"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1497475003"}]}]}'
  recorded_at: Wed, 29 Sep 2021 07:19:13 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632899952,"sunrise":1632920064,"sunset":1632962745,"temp":287.18,"feels_like":286.1,"pressure":1009,"humidity":56,"dew_point":278.55,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.12,"wind_deg":308,"wind_gust":3.27,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1632900000,"precipitation":0},{"dt":1632900060,"precipitation":0},{"dt":1632900120,"precipitation":0},{"dt":1632900180,"precipitation":0},{"dt":1632900240,"precipitation":0},{"dt":1632900300,"precipitation":0},{"dt":1632900360,"precipitation":0},{"dt":1632900420,"precipitation":0},{"dt":1632900480,"precipitation":0},{"dt":1632900540,"precipitation":0},{"dt":1632900600,"precipitation":0},{"dt":1632900660,"precipitation":0},{"dt":1632900720,"precipitation":0},{"dt":1632900780,"precipitation":0},{"dt":1632900840,"precipitati[...]
