---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.275 TT 0 0.278"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 35990,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "text": [
                        "/works/OL8503198W",
                        "Denver, Co",
                        "OL10909613M",
                        "9780762507849",
                        "0762507845",
                        "Universal Map Enterprises",
                        "OL2843451A",
                        "Universal Map"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1700720295581581317,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL8808821W",
                    "text": [
                        "/works/OL8808821W",
                        "University of Denver Co 2007",
                        "OL8537031M",
                        "150368610",
                        "1427401683",
                        "9781427401687",
                        "College Prowler",
                        "OL3010394A",
                        "College Prowler"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL8537031M",
                        "/works/OL8808821W",
                        "/authors/OL3010394A"
                    ],
                    "title": "University of Denver Co 2007",
                    "title_suggest": "University of Denver Co 2007",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL8537031M"
                    ],
                    "publish_date": [
                        "July 1, 2006"
                    ],
                    "publish_year": [
                        2006
                    ],
                    "first_publish_year": 2006,
                    "oclc": [
                        "150368610"
                    ],
                    "isbn": [
                        "1427401683",
                        "9781427401687"
                    ],
                    "last_modified_i": 1304171421,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL8537031M",
                    "cover_i": 1847337,
                    "publisher": [
                        "College Prowler"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3010394A"
                    ],
                    "author_name": [
                        "College Prowler"
                    ],
                    "id_goodreads": [
                        "2985742"
                    ],
                    "publisher_facet": [
                        "College Prowler"
                    ],
                    "_version_": 1700720648496611328,
                    "author_facet": [
                        "OL3010394A College Prowler"
                    ]
                },
                {
                    "key": "/works/OL4437736W",
                    "text": [
                        "/works/OL4437736W",
       [...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude%5B%5D=minutely&key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 07:19:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-903763570"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wrk39EMEYZEPG7Go9aNrQGJIPH9hnGw2&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1954049719"}]}]}'
  recorded_at: Wed, 29 Sep 2021 07:19:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632899955,"sunrise":1632920064,"sunset":1632962745,"temp":287.18,"feels_like":286.1,"pressure":1009,"humidity":56,"dew_point":278.55,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.12,"wind_deg":308,"wind_gust":3.27,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1632900000,"precipitation":0},{"dt":1632900060,"precipitation":0},{"dt":1632900120,"precipitation":0},{"dt":1632900180,"precipitation":0},{"dt":1632900240,"precipitation":0},{"dt":1632900300,"precipitation":0},{"dt":1632900360,"precipitation":0},{"dt":1632900420,"precipitation":0},{"dt":1632900480,"precipitation":0},{"dt":1632900540,"precipitation":0},{"dt":1632900600,"precipitation":0},{"dt":1632900660,"precipitation":0},{"dt":1632900720,"precipitation":0},{"dt":1632900780,"precipitation":0},{"dt":1632900840,"precipitati[...]
