---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=33.44&lon=-94.04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1632899956,"sunrise":1632917350,"sunset":1632960207,"temp":294.5,"feels_like":294.83,"pressure":1012,"humidity":82,"dew_point":291.3,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.34,"wind_deg":135,"wind_gust":2.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1632900000,"precipitation":0},{"dt":1632900060,"precipitation":0},{"dt":1632900120,"precipitation":0},{"dt":1632900180,"precipitation":0},{"dt":1632900240,"precipitation":0},{"dt":1632900300,"precipitation":0},{"dt":1632900360,"precipitation":0},{"dt":1632900420,"precipitation":0},{"dt":1632900480,"precipitation":0},{"dt":1632900540,"precipitation":0},{"dt":1632900600,"precipitation":0},{"dt":1632900660,"precipitation":0},{"dt":1632900720,"precipitation":0},{"dt":1632900780,"precipitation":0},{"dt":1632900840,"precipitati[...]
