---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=33.44&lon=-94.04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1632668380,"sunrise":1632658027,"sunset":1632701255,"temp":295.59,"feels_like":295.53,"pressure":1020,"humidity":63,"dew_point":288.2,"uvi":2.28,"clouds":91,"visibility":10000,"wind_speed":0.89,"wind_deg":256,"wind_gust":1.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1632668400,"precipitation":0},{"dt":1632668460,"precipitation":0},{"dt":1632668520,"precipitation":0},{"dt":1632668580,"precipitation":0},{"dt":1632668640,"precipitation":0},{"dt":1632668700,"precipitation":0},{"dt":1632668760,"precipitation":0},{"dt":1632668820,"precipitation":0},{"dt":1632668880,"precipitation":0},{"dt":1632668940,"precipitation":0},{"dt":1632669000,"precipitation":0},{"dt":1632669060,"precipitation":0},{"dt":1632669120,"precipitation":0},{"dt":1632669180,"precipitation":0},{"dt":1632669240,"precipitati[...]
