---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=10027f0fbee56fea2c49b4df32e84806&lat=33.44&lon=-94.04
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1647659141,"sunrise":1647606151,"sunset":1647649554,"temp":283.66,"feels_like":282.31,"pressure":1017,"humidity":59,"dew_point":275.99,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.47,"wind_deg":277,"wind_gust":8.05,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1647659160,"precipitation":0},{"dt":1647659220,"precipitation":0},{"dt":1647659280,"precipitation":0},{"dt":1647659340,"precipitation":0},{"dt":1647659400,"precipitation":0},{"dt":1647659460,"precipitation":0},{"dt":1647659520,"precipitation":0},{"dt":1647659580,"precipitation":0},{"dt":1647659640,"precipitation":0},{"dt":1647659700,"precipitation":0},{"dt":1647659760,"precipitation":0},{"dt":1647659820,"precipitation":0},{"dt":1647659880,"precipitation":0},{"dt":1647659940,"precipitation":0},{"dt":1647660000,"precipitati[...]
