---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Devner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.103 TT 0 0.104"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 2,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7264529W",
                    "text": [
                        "/works/OL7264529W",
                        "Patent medicine picture",
                        "Patent medicine picture.",
                        "OL5597373M",
                        "68003170",
                        "printed by the Tombstone Epitaph",
                        "OL2118153A",
                        "Kay Devner",
                        "Catalogs",
                        "Medicine bottles"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL5597373M",
                        "/works/OL7264529W",
                        "/subjects/catalogs",
                        "/subjects/medicine_bottles",
                        "/authors/OL2118153A"
                    ],
                    "title": "Patent medicine picture",
                    "title_suggest": "Patent medicine picture",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL5597373M"
                    ],
                    "publish_date": [
                        "1968"
                    ],
                    "publish_year": [
                        1968
                    ],
                    "first_publish_year": 1968,
                    "lccn": [
                        "68003170"
                    ],
                    "publish_place": [
                        "[Tombstone, Ariz"
                    ],
                    "lcc": [
                        "NK-5440.00000000.B6 D48"
                    ],
                    "ddc": [
                        "615.8860216"
                    ],
                    "last_modified_i": 1601870449,
                    "ebook_count_i": 0,
                    "publisher": [
                        "printed by the Tombstone Epitaph"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2118153A"
                    ],
                    "author_name": [
                        "Kay Devner"
                    ],
                    "subject": [
                        "Catalogs",
                        "Medicine bottles"
                    ],
                    "publisher_facet": [
                        "printed by the Tombstone Epitaph"
                    ],
                    "subject_facet": [
                        "Catalogs",
                        "Medicine bottles"
                    ],
                    "_version_": 1700718605505658880,
                    "lcc_sort": "NK-5440.00000000.B6 D48",
                    "author_facet": [
                        "OL2118153A Kay Devner"
                    ],
                    "subject_key": [
                        "catalogs",
                        "medicine_bottles"
                    ],
                    "ddc_sort": "615.8860216"
                },
                {
                    "key": "/works/OL12897240W",
                    "text": [
                        "/works/OL12897240W",
                        "Proceedings of 2002 IEEE Workshop on Speech Synthesis",
                        "11-13 September, 2002, Santa Monica, CA",
                        "OL19818688M",
                        "sponsored by IEEE Signal Processing Society.",
                        "2002100403",
                        "I[...]
