---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Devner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.172 TT 0 0.175"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 2,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL7264529W",
                    "type": "work",
                    "seed": [
                        "/books/OL5597373M",
                        "/works/OL7264529W",
                        "/subjects/catalogs",
                        "/subjects/medicine_bottles",
                        "/authors/OL2118153A"
                    ],
                    "title": "Patent medicine picture",
                    "title_suggest": "Patent medicine picture",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL5597373M"
                    ],
                    "publish_date": [
                        "1968"
                    ],
                    "publish_year": [
                        1968
                    ],
                    "first_publish_year": 1968,
                    "number_of_pages_median": 106,
                    "lccn": [
                        "68003170"
                    ],
                    "publish_place": [
                        "[Tombstone, Ariz"
                    ],
                    "lcc": [
                        "NK-5440.00000000.B6 D48"
                    ],
                    "ddc": [
                        "615.8860216"
                    ],
                    "last_modified_i": 1601870449,
                    "ebook_count_i": 0,
                    "publisher": [
                        "printed by the Tombstone Epitaph"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2118153A"
                    ],
                    "author_name": [
                        "Kay Devner"
                    ],
                    "subject": [
                        "Catalogs",
                        "Medicine bottles"
                    ],
                    "publisher_facet": [
                        "printed by the Tombstone Epitaph"
                    ],
                    "subject_facet": [
                        "Catalogs",
                        "Medicine bottles"
                    ],
                    "_version_": 1715095544163991554,
                    "lcc_sort": "NK-5440.00000000.B6 D48",
                    "author_facet": [
                        "OL2118153A Kay Devner"
                    ],
                    "subject_key": [
                        "catalogs",
                        "medicine_bottles"
                    ],
                    "ddc_sort": "615.8860216"
                },
                {
                    "key": "/works/OL12897240W",
                    "type": "work",
                    "seed": [
                        "/books/OL19818688M",
                        "/works/OL12897240W",
                        "/subjects/congresses",
                        "/subjects/speech_synthesis",
                        "/subjects/speech_processing_systems",
                        "/authors/OL5832258A"
                    ],
                    "title": "Proceedings of 2002 IEEE Workshop on Speech Synthesis",
                    "title_suggest": "Proceedings of 2002 IEEE Workshop on Speech Synthesis",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL19818688M"
                    ],
                    "publish_date": [
                        "2002"
                    ],
                    "publish_year": [
                        2002
                    ],
                    "first_publish_year": 2002,
                    "number_of_pages_median": 236,
                    "lccn": [
                        "2002100403"
                    ],
                    "publish_place": [
                        "Piscataway, N.J"
                    ],
                    "contributor": [
                        "International Conference on Spoken Language Processing (2002 : Devner, Colo.)",
                        "IEEE Signal Processing Society."
                    ],
                    "lcc": [
                        "TK-7895.00000000.S65 I34 2002",
                        "TK-7895.00000000.S65 I143 2002"
                    ],
                    "isbn": [
                        "0780373952",
                        "0780373960",
                        "9780780373952",
                        "9780780373969"
                    ],
                    "last_modified_i": 1607192123,
                    "ebook_count_i": 0,
                    "publisher": [
                        "IEEE"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
              [...]
